[flake8]
max-line-length = 88
extend-ignore =
    # whitespace before ':'
    E203
    # missing type annotation for self in method
    ANN101
    # handle error-cases first
    SIM106
    # fixture '{name}' does not return anything, add leading underscore
    PT004
    # pytest.raises({exception}) is too broad
    PT011

per-file-ignores =
    # simplify tests by ignoring some unnecessary rules
    test/*:E501,INP001,SC200,ANN001,ANN201,ANN202

ban-relative-imports = true
spellcheck-targets = names
dictionaries = en_US,python,technical
