# testing
pytest==6.2.5
pytest-cov==2.12.0
pytest-mock==3.7.0

# linting
pre-commit==3.4.0
mypy==1.4.1
black==23.7.0
ruff==0.0.292

# flake8 libraries not included in ruff
flake8==6.0.0
flake8-pyproject==1.2.3
flake8-spellcheck==0.28.0
flake8-qgis==1.0.0

# requests types
types-requests==2.28.11.2

# repo itself
-e file:.
