name: Release

on:
  release:
    types: released

jobs:
  pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: '3.9'
      - run: |
          pip install build
      - run: |
          python -m build
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
      - uses: svenstaro/upload-release-action@2.3.0
        with:
          file: dist/*
          file_glob: true
